.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../../../resources/background-login.webp');
    background-position: center;
  }
  
  form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-width: 90%;
  }
  
  form img {
    display: block;
    margin: 0 auto 20px auto;
    width: 150px; /* Adjust the size as needed */
  }
  
  .input-container {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .input-container label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Prevents the width from exceeding 100% when padding is added */
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #003d82;
  }
  