

html, body {
    height: 100%; /* Certifica-se de que o corpo da página ocupe toda a altura da viewport */
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o preenchimento padrão */
    display: flex; /* Aplica Flexbox ao corpo da página */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    background-image: url('../../../resources/background-login.webp'); /* Caminho para sua imagem */
    background-position: center; /* Centraliza a imagem de fundo */
}

/* Se você tiver um container ao redor do formulário, aplique estas propriedades a ele */
.form-container {
    width: 100%; /* Define a largura do container para 100% da viewport */
    height: 100%; /* Define a altura do container para 100% da viewport */
    display: flex; /* Ativa Flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}



form {
    width: 50%; /* ou a largura que desejar */
    padding: 60px; /* opcional, para melhor aparência */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* opcional, para sombra ao redor do formulário */
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: solid transparent 1px;
    border-radius: 10px;
    gap: 10px;
}

h2{
    margin: 0;
}

img{
    width: 100px;
    margin-bottom: 15px;
}


.input-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input{
    padding: 10px;
    border: solid rgba(0, 0, 0, 0.185) 1px;
    border-radius: 10px;
}

button{
    background-color: rgb(255, 136, 0);
    border: solid transparent 1px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
}