/* about-style.css */

main {
  font-family: Arial, sans-serif;
  background-image: url('../../../resources/whitebg.png');
  background-size: cover;
  background-position: center;
}

main::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url('../../../resources/whitebg.png');
  background-size: cover;
  background-position: center;
  opacity: 0.5; /* Ajuste o valor conforme desejado (de 0 a 1) */
}

#about, #services, #topics {
  padding: 50px;
  text-align: center;
}

#about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}


#about h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  padding: 12px 20px;
  border: 2px solid orangered;
  background-color: orangered;
  opacity: 0.5;
  color: #ffffff;
  font-weight: bold;
  border-radius: 15px;
}

#about p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
}



#services h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  padding: 12px 20px;
  border: 2px solid orangered;
  background-color: orangered;
  opacity: 0.5;
  color: #ffffff;
  font-weight: bold;
  border-radius: 15px;
}

#services ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#services li {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

#services li strong {
  font-weight: bold;
}

#topics {
  padding: 50px;
  text-align: center;
}

#topics ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#topics li {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

#topics li:before {
  content: "•";
  margin-right: 10px;
}








