/* About.css */

.AboutPage {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center content */
    align-items: center; /* Horizontally center content */
    height: 100vh; /* Full viewport height */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    color: #333;
}

.AboutTitle {
    background-color: #002366;
    color: #fff;
    font-size: 28px;
    padding: 15px 30px;
    margin: 0;
    border-bottom: 5px solid #ff6600;
    text-align: center; /* Center align the title text */
    width: 100%; /* Full width */
}

.texto {
    font-size: 1.1em;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 1em;
    max-width: 800px; /* Maximum width for readability */
    width: 100%; /* Full width */
}

.topico {
    font-size: 1em;
    margin-left: 20px;
    font-weight: bold;
    color: white; /* Text color */
    margin-bottom: 0.5em;
    text-align: left;
    background-color: orangered; /* Background color */
    padding: 10px 20px; /* Padding inside the rectangle */
    border-radius: 15px; /* Rounded corners */
    display: inline-block; /* Make the background only as wide as the content */
    margin-right: 20px; /* Spacing on the right side */
}
