.Homepage {
    background-image: url('homebg.jpeg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: left;
    padding: 20px;
    min-height: 100vh;
    display: flex; /* Adiciona flexbox para melhor alinhamento */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}

.Homepage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: navy; /* Escurece um pouco mais o fundo */
    z-index: -1;
}

.HomeTitle, .HomeText {
    padding: 20px;
    border-radius: 10px;
    max-width: 50%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-bottom: 20px; /* Espaçamento entre os elementos */
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}

.HomeTitle:hover, .HomeText:hover {
    transform: scale(1.05); /* Efeito de zoom leve ao passar o mouse */
}

.HomeTitle {
    font-size: 2.5em; /* Aumenta o tamanho da fonte dos títulos */
    font-weight: bold; /* Torna o título em negrito */
}

.HomeText {
    font-size: 2em;
}
