/* style.css */

main {
    font-family: Arial, sans-serif;
    background-image: url('../../../resources/background.png');
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 100vh; /* Garante que a altura da página seja pelo menos a altura da tela */
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    padding: 12px 20px;
    border: 2px solid orangered;
    background-color: orangered;
    opacity: 0.5;
    color: #ffffff;
    font-weight: bold;
    border-radius: 15px;
}

p1 {
    font-size: 1rem;
    margin-bottom: 20px;
    padding: 12px 20px;
    border: 2px solid orangered;
    background-color: orangered;
    opacity: 0.5;
    color: #ffffff;
    font-weight: bold;
    border-radius: 15px;
}


  
