/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Main styles */
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: white;
  }
  
  .background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    
    background-size: cover;
  }
  
  #about {
    margin-top: 5rem;
    text-align: center;
    color: white; /* Set text color to white */
    padding: 2rem; /* Add padding to the text */
    background-color: orangered; /* Set background color to orange */
    border-radius: 10px; /* Add rounded corners */
    opacity: 0.8; /* Set opacity to make it semi-transparent */
  }
  
  #about h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  
  #about p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  #services {
    margin-top: 5rem;
    text-align: center;
    color: white; /* Set text color to white */
  }
  
  #services h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  #services li {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  #services strong {
    font-weight: bold;
  }
  
  #topics {
    margin-top: 5rem;
    text-align: center;
    color: white; /* Set text color to white */
  }
  
  #topics li {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }