.full-header {
    background-color: rgba(0, 0, 0, 0.185);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo-button {
    border: none;
    background: none;
}

.logo-img {
    height: 50px; 
}

.navbar-content {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: #333; 
    font-weight: bold;
}

.nav-link:hover {
    color: #007bff; 
}


.about-us,
.solutions,
.contact,
.client-area {
    font-size: 18px;
    margin: 0 15px;
    padding: 12px 20px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: transparent;
    color: #ffffff;
    font-weight: bold;
}

.hire-us {
    font-size: 15px;
    margin: 0 30px;
    padding: 12px 20px;
    cursor: pointer;
    border: 2px solid orangered;
    background-color: orangered;
    color: #ffffff;
    font-weight: bold;
    border-radius: 15px;
}

.about-us:hover,
.solutions:hover,
.contact:hover,
.client-area:hover {
    background-color: navy;
}
